@import 'static/gruvbox';

.Settings {
  height: 70%;
  text-align: center;
  color: color('textPrimary');
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  .SettingList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .setting {
      width: 60%;
      background: color('backGround2');
    }
  }
}
