@import './gruvbox';

$linksHeight: 4rem;
$slideWidth: 50rem;
$slideHeight: 100%;

.App {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;

	.links {
		width: $slideWidth;
		max-width: 98%;
		height: $linksHeight;
		display: flex;
		justify-content: space-around;
		border: dashed .3rem color('textSecondary');
		border-bottom: none;
		margin: auto auto 0 auto;
		background: color('backGround2');

		a {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 4rem;
			transition: .2s ease-in;

			font-size: 2rem;
			color: color('textPrimary');

			&:hover {
				color: color('backGround2');
			}

			&:nth-child(1):hover {
				background: color('greenPrimary');
			}
			&:nth-child(2):hover {
				background: color('orangePrimary');
			}
			&:nth-child(3):hover {
				background: color('yellowPrimary');
			}
			&:nth-child(4):hover {
				background: color('aquaPrimary');
			}
			&:nth-child(5):hover {
				background: color('redPrimary');
			}
		}
	}

	.slides {
		flex-grow: 1;
		width: $slideWidth;
		max-width: 98%;
		border: dashed .3rem color('textSecondary');
		display: flex;
		overflow: hidden;
		margin: 0 auto auto auto;

		scroll-snap-type: x mandatory;

		scroll-behavior: smooth;

		.component-wrapper {
			min-width: 100%;
			min-height: 100%;

			scroll-snap-align: start;
			flex-shrink: 0;
			transform-origin: center center;
			transform: scale(1);
			transition: transform 0.5s;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
