@import './gruvbox';

.Chat {
	display: grid;
	grid-template-columns: 15rem auto;

	.channelList, .channelContent {
		margin: 0;
	}

	.channelList {
		display: inline;
		background: color('greySecondary');

		header {
			display: grid;
			grid-template-columns: auto 3rem;
			height: 3rem;

			* {
				height: 100%;
				width: 100%;
				margin: 0;
			}

			p {
				display:flex;
				justify-content: center;
				align-items: center;

				background: color('aquaSecondary');
			}

			button {
				border: none;
				height: 100%;
				padding: 0;
				margin: 0;
				border: none;
				background: color('greenSecondary');
				cursor: pointer;
				
				svg {
					height: 1.5rem;
				}
				
				&:hover {
					background: color('greenPrimary');
				}
			}
		}

		& > button {
			width: 100%;
			height: 3rem;

			font-size: 1rem;
      color: color('backGround2');
      cursor: pointer;
			border: solid 1px color('backGround2');
			&:hover {
				background: color('blueSecondary') !important;
			}
		}
	}

	.channelContent {
    width: 100%;

		padding: 0;

		position: relative;
    display: grid;
    grid-template-rows: auto 3rem;

    overflow-y: auto;
    overflow-x: hidden;

    .chatArea {
      width: 100%;
      overflow-y: scroll;
      list-style: none;

      background: color('backGround2');
      color: color('textSecondary');

      li {
        width: 80%;
        margin: 1rem auto 1rem auto;
        padding: .1rem 1rem .1rem 1rem;
        background: color('backGround1');
        box-shadow: 1px 1px .3rem black;
        word-wrap: break-word;
      }
    }

    input {
      width: 100%;

      padding-left: 1rem;

      outline: 0;
      background: color('backGround2');
      border: none;
      border-top: dashed .3rem color('textSecondary');
      color: color('textPrimary');
      font-size: 1rem;

      &:focus {background: color('backGround1');}
    }
	}
}
