$gruvbox: (
	textPrimary:		#ebdbb2,
	textSecondary:	#a89984,

	greyPrimary:		#928374,
	greySecondary:	#504945,

	backGround1:		#282828,
	backGround2:		#1d2021,

	purplePrimary:	#b16286,
	purpleSecondary:#d3869b,

	bluePrimary:		#458588,
	blueSecondary:	#83a598,

	aquaPrimary:		#8ec87c,
	aquaSecondary:	#689d6a,

	yellowPrimary:	#fabd2f,
	yellowSecondary:#d79921,

	orangePrimary:	#fe8019,
	orangeSecondary:#d65d0e,

	redPrimary:			#fb4934,
	redSecondary:		#cc241d,

	greenPrimary:		#b8bb26,
	greenSecondary:	#98971a,
);

//gets a color value from color map, defined in colorDefinitions
@function color($colorName) {
  @return map-get($gruvbox, $colorName);
}
