@import './gruvbox';

.Home {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {color: color('orangePrimary');}

  p {
    margin: auto;
    color: color('textPrimary');

    a {
      color: color('aquaSecondary');
      text-decoration: none;

      &:hover {background: color('greySecondary');}
    }
  }

	button {
		width: 60%;
		height: 5rem;
    margin: 2rem 0;
		color: color('backGround2');
		background: color('greenSecondary');
		font-size: 2rem;
		cursor: pointer;

		&:hover {background: color('greenPrimary');}
		&:active {background: color('greenSecondary');}
	}

  &>p {
    color: color('textPrimary');
    width: 50%;
  }
}
