@import './gruvbox';

.Login {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.Header {
		width: 30rem;
		max-width: 90%;
		text-align: center;
	}

	.loginPrompt {
		width: 30rem;
		max-width: 80%;

		margin: auto;
		padding: 1rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background: color('backGround2');
		box-shadow: 0 0 1rem black;

		input {
			width: 80%;

			margin: 1rem;
			margin-bottom: .5rem;
			padding: .2rem 1rem .2rem 1rem;

			border: dashed .2rem color('textPrimary');
			outline: none;
			font-size: 1.5rem;
			background: color('backGround2');
			color: color('textSecondary');
		}

		button {
			width: 40%;
			height: 2rem;

			border: none;
			text-decoration: blink;
			cursor: pointer;
			font-size: 1rem;
		}

		.loginBox {
			width: 80%;

			margin-top: 1rem;
			margin-bottom: 1rem;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.login {
				background: color('greenPrimary');
			}

			.Oauth {
				width: 3rem;

				background: color('aquaSecondary');
				border-radius: 25px;
				font-size: 2rem;
			}
		}

		.create {
				background: color('orangePrimary');
		}
	}
}
