@import './gruvbox';

.Profile {
	position: absolute;
	display: flex;
	flex-direction: column;
	.userCard {
		width: 100%;
		height: 6rem;

		display: flex;
		justify-content: space-between;

		color: color('backGround2');

		.profileHeader {
			display: flex;
			grid-template-columns:min-content min-content;

			img {
				height: 6rem;
			}

			.Oauth {
				width: 1.5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				font-size: 1.5rem;
				text-decoration: none;
				color: color('backGround2');
			}

		}

		h4 {
			margin: 0;

			display: flex;
			justify-content: center;
			align-items: center;

			color: color('textSecondary');
			font-size: 100%;
		}

		.stats {
			display: grid;

			p {
				margin: 0;
				padding: 0 .5rem 0 .5rem;

				display: flex;
				align-items: center;
			}

			.games {
				grid-column: 1 / 3;
				background: color('orangePrimary');
			}

			.win {
				background: color('greenSecondary');
			}

			.loss {
				background: color('redSecondary');
			}
		}
	}
}
