@import './gruvbox';

.Profile {
	.userCard {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		.stats {
			width: 50%;
			margin: auto auto 2rem auto;
			display: grid;
			text-align: center;
			grid:
				'Name Pic'
				'Oauth Oauth'
				'gamesPlayed gamesPlayed'
				'. .';
			border: double 4px color(textPrimary);
			color: color('backGround2');

			p {
				margin: 0;
			}

			h4 {
				grid-area: Name;
				color: color('textPrimary');
				margin: auto 1rem auto 1rem;
			}

			img {
				width: 4rem;
				height: 4rem;
				grid-area: Pic;
				background: color('aquaPrimary');
			}

			.Oauth {
				grid-area: Oauth;
				display: flex;
				justify-content: space-around;
				align-items: center;
				text-decoration: none;
				color: color('backGround2');
				font-size: 1.5rem;
			}
			.games {
				grid-area: gamesPlayed;
				background: color('orangePrimary');
			}

			.win {
				background: color('greenSecondary');
			}

			.loss {
				background: color('redSecondary');
			}
		}
	}
}
