@import './gruvbox';

.SignIn {
	width: 30rem;
	max-width: 80%;

	margin: 20vh auto;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: color('backGround2');
	box-shadow: 0 0 1rem black;

	input {
		width: 80%;

		margin: 1rem;
		margin-bottom: .5rem;
		padding: .2rem 1rem .2rem 1rem;

		border: dashed .2rem color('textSecondary');
		outline: none;
		font-size: 1.5rem;
		background: color('backGround2');
		color: color('textSecondary');

		&:focus {
			background: color('backGround1');
			border: dashed .2rem color('textPrimary');
		}
	}

	.signin {
		background: color('orangePrimary');
		width: 60%;
		height: 2rem;
		margin: 1rem;

		border: none;
		text-decoration: blink;
		cursor: pointer;
		font-size: 1rem;
		&:hover {background: color('orangeSecondary')}
	}

}
