@import 'static/gruvbox';

.Historic {
	overflow-y: hidden;
	display: grid;
	grid-template-rows: 3rem auto;
	height: 100%;
	header {
		display: grid;
		text-align: center;

		p {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
		}

		p:first-child {
			grid-column: 1 / 3;
			background: color('backGround2');
      color: color('textPrimary');
		}

		p:nth-child(2) {background: color('greyPrimary');}
		p:nth-child(3) {background: color('greySecondary');}
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.head, .body li {
			display: flex;
			p {
				width: 100%;
				margin: 0;
				text-align: center;
				border-right: solid 2px color('backGround2');

				&:first-child {border-left: none;}
				&:last-child {border-right: none;}
			}
		}

		.head {
			p {
				&:first-child { flex-grow: 2; }
				background: color('orangePrimary');
				border-top: solid 2px color('backGround2');
				border-bottom: solid 2px color('backGround2');
			}
		}

		.body {
			margin: 0;
			overflow-y: scroll;
			list-style: none;
			padding: 0;
			color: color('backGround2');
			li {
				p:first-child {
					text-align: left;
					overflow-x: scroll;
				}

        &:nth-child(2n) {background: color(greyPrimary);}
        &:nth-child(2n + 1) {background: color(greySecondary);}
			}
		}
	}
}
