@import 'static/gruvbox';

$usercardHeight: 6rem;

.Profile {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-rows: $usercardHeight 2rem auto;

	.userCard {
		width: 100%;
		height: $usercardHeight;
    display: grid;
    grid-template-columns: $usercardHeight auto calc($usercardHeight / 2);
		color: color('backGround2');

    .TwoFactor {
      display: flex;
      justify-content: center;
      align-items: center;
    }

		h1 {
      margin-left: 2rem;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: color('textSecondary');
		}

		.profileHeader {
			height: $usercardHeight;
			overflow: hidden;

			img {
				height: 6rem;
				margin-left: 50%;
				transform: translateX(-50%);
				z-index: 0;
			}
		}
	}

	.tabs {
		button {
			width: 50%;
			height: 100%;
      cursor: pointer;
		}
	}

	.content {
		height: 100%;
		overflow: hidden;
	}
}
