@import 'static/gruvbox';

$usercardHeight: 6rem;

.Profile {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-rows: $usercardHeight 2rem auto;

  .InviteMenu {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0,0,0,.5);

    .Prompt {
      max-height: 60%;
      overflow-y: hidden;

      .List {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        button {
          width: 80%;
          background: color('bluePrimary');

          &:hover { background: color('blueSecondary'); }
        }
      }
    }

  }

	.userCard {
		width: 100%;
		height: $usercardHeight;
    display: grid;
    grid-template-columns: $usercardHeight auto $usercardHeight;
		color: color('backGround2');

    .profileBadge {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template: '1 2' '3 4';

      button {
        width: 100%;
        height: 100%;

        svg {
          font-size: 1.2rem;
        }
      }

    }

		h1 {
      margin-left: 2rem;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: color('textSecondary');
		}

		.profileHeader {
			height: $usercardHeight;
			overflow: hidden;

			img {
				height: 6rem;
				margin-left: 50%;
				transform: translateX(-50%);
				z-index: 0;
			}
		}
	}

	.tabs {
		button {
			width: 50%;
			height: 100%;
      cursor: pointer;
		}
	}

	.content {
		height: 100%;
		overflow: hidden;
	}
}
