@import 'static/gruvbox';

.waitingRoom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Prompt {
    color: color('textPrimary');

    button {
      width: 5rem;
      height: 2.5rem;
      margin-left: auto;
      background: color('redSecondary')
    }

    .Gamemode {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;

    }

    .Gamemode button{width: 100%;}

    .PlayerStatus button{width: 80%;}
  }
}
