@import 'static/gruvbox';

$tabHeight: 2rem;
$inviteHeight: 5rem;

.Lobby {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: $tabHeight 1fr;

  .tabs {
    width: 100%;
    button {
      width: 50%;
      height: $tabHeight;
      cursor: pointer;
    }
  }

  .MatchMaking {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: $inviteHeight auto;
    .JoinQueue {
      width: 100%;
      height: $inviteHeight;
      font-size: 1.5rem;
      cursor: pointer;
      background: color('greenSecondary');

      &:hover {background: color('greenPrimary')}
    }

    .Invites {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: scroll;

      .Invite {
        height: $inviteHeight;
        padding: 0;
        text-align: center;
        cursor: pointer;
        background: color('bluePrimary');

        &:hover {background: color('blueSecondary');}

        img {
          margin: 0;
          height: calc($inviteHeight - .4rem);
          width: calc($inviteHeight - .4rem);
        }

        p {
          margin: auto;
          font-size: 1.5rem;
        }
      }
    }
  }
}
