@import 'static/gruvbox';

$boardHeight: 25%;
$boardWidth: 3%;


.Game {
  width: 100%;
  height: 100%;
  position: relative;

  &>.player {
    height: $boardHeight;
    width: $boardWidth;
    display: block;
    position: absolute;
    transition: .2s linear;

    &.left {
      background: color('textPrimary');
      left: 3%;
    }

    &.right {
      background: color('greyPrimary');
      right: 3%;
    }
  }

  .separator {
    height: 99%;
    width: 0;
    margin: auto;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    border: dashed .1rem color('textSecondary');
  }

  .ball {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: $boardWidth;
    padding: calc($boardWidth / 2);
    background: color('textPrimary');
  }
}
