@import 'static/gruvbox';

.Spectate {
	width: 100%;
	height: 100%;
	overflow-y: scroll;

  .LiveGames {
    display: grid;
    grid-template-columns: auto 2rem;
    background: color('greyPrimary');
    text-align: center;

    button { background: color('aquaPrimary'); }
  }

	.game {
		display: grid;
		grid-template-columns: 1fr 1fr;
		color: color('backGround2');
		background: color('bluePrimary');
		border: outset 1px color('greySecondary');
		cursor: pointer;

		&:hover {
			color: color('backGround2');
			background: color('blueSecondary');
			border: outset 1px color('greySecondary');
		}
		
		&:active {
      background: color('bluePrimary');
			border: inset 1px color('greyPrimary');
		}

    .player {
			display: grid;
      text-align: center;

      .score {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }

		.player1 {grid-template-columns: 4fr 1fr;}
    .player2 {
      grid-template-columns: 1fr 4fr;

      .score {grid-row: 1;}
		}
	}

	.spectateScreen {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(29, 32, 33, 0.5);

		.Play {
			width: 90%;
			height: 90%;
			background: color('backGround1');
		}
	}
}
