@import 'static/gruvbox';

$headerHeight: 3rem;

.Chat {
	position: relative;
	display: grid;
	grid-template-columns: 15rem auto;
  .burger {display: none;}
  label {display: none;}

	.channelMenu {
		background: color('greySecondary');
		display: grid;
		grid-template-rows: 3rem auto;
		header {
			height: 3rem;
			display: grid;
			grid-template-columns: auto 3rem;

			* {
				height: 100%;
				width: 100%;
				margin: 0;
			}

			p {
				display:flex;
				justify-content: center;
				align-items: center;

				background: color('greyPrimary');
			}
			button {
				height: 100%;
				padding: 0;
				margin: 0;
				background: color('greenSecondary');
				cursor: pointer;
				
				svg {
					height: 1.5rem;
				}

				&:hover {
					background: color('greenPrimary');
				}
			}

		}

		.channelList {
			height: 100%;
			overflow-y: scroll;
			button {
				width: 100%;
				height: 3rem;
				font-size: 1rem;
				color: color('backGround2');
				cursor: pointer;

				&:hover {
					background: color('blueSecondary') !important;
				}
			}
		}
	}

	.channelContent {
    width: 100%;

		padding: 0;

		position: relative;
    display: grid;
    grid-template-rows: auto 3rem;

    overflow-y: auto;
    overflow-x: hidden;

    .chatArea {
      width: 100%;
      overflow-y: scroll;
      list-style: none;

      background: color('backGround2');
      color: color('textSecondary');

      li {
        width: 80%;
        margin: 1rem auto;
        padding: .1rem 1rem;
        background: color('backGround1');
        box-shadow: 0 0 .2rem black;
        word-wrap: break-word;
      }
    }

    input {
      width: 100%;
      padding-left: 1rem;
      outline: 0;
      background: color('backGround2');
      border: none;
      border-top: dashed .3rem color('textSecondary');
      color: color('textPrimary');
      font-size: 1rem;

      &:focus {background: color('backGround1');}
    }
	}

	.channelContent {margin: 0;}
}

@media screen and (max-width: 30rem) {
  .Chat {
    .burger:checked ~ .channelMenu {visibility: visible;opacity: 100%}
    label {
      position: absolute;
      display:block;
      z-index: 2;
      height: $headerHeight;
      background: color('greyPrimary');
      svg {
        fill: color('textPrimary');
        width: 2rem;
        height: 2rem;
        margin: .5rem;
      }
    };
    
    .channelMenu {
      position: absolute;
      visibility: hidden;
      opacity: 0%;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: .05s ease-in;
    }

    .channelContent {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      z-index: 0;
    }
  }
}
